{% extends 'base.html.twig' %}

{% block title %}New Audio{% endblock %}

{% block body %}
    <h1 class="display-full">Create new Audio</h1>

    {{ include('audio/_form.html.twig') }}

    <a href="{{ path('app_creation') }}">back to list</a>
{% endblock %}
