{% extends 'base.html.twig' %}

{% block title %}Edit Emission{% endblock %}

{% block body %}
    <h1 class="display-full">Edit Emission</h1>

    {{ include('emission/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_creation') }}" class="backlink">back to list</a>

    {{ include('emission/_delete_form.html.twig') }}
{% endblock %}
