{% extends 'base.html.twig' %}

{% block title %}New Emission{% endblock %}

{% block body %}
    <h1 class="display-full">Create new Emission</h1>

    {{ include('emission/_form.html.twig') }}

    <a href="{{ path('app_creation') }}" class="backlink">back to list</a>
{% endblock %}
