{% extends 'base.html.twig' %}

{% block title %}Inscription index{% endblock %}

{% block body %}
    <h1>Inscriptions</h1>

    <a href="{{ path('app_inscription_new') }}">S'inscrire</a>
{% endblock %}
