{% extends 'base.html.twig' %}

{% block title %}Nouvelle Inscription{% endblock %}

{% block body %}
    <h1>Nouvelle Inscription</h1>

    {{ include('inscription/_form.html.twig') }}

    <a href="{{ path('app_inscription_index') }}">back to list</a>
{% endblock %}
