{% extends 'base.html.twig' %}
{% block body %}
	<div class='lycee'>
		<h1 class="display-full">Le Lycée Guy Chauvet</h1>
		<img class="border- " src="{{ asset('data/general/lycee_Guy-Chauvet.PNG')}}" alt="logo_lycee">
		<p>
			Le lycée Guy Chauvet, créé en 1610, est un établissement à taille humaine qui offre une palette étendue de formations générales et technologiques (STMG et ST2S) ainsi qu’une formation post-bac (BTS SIO). Son offre de spécialités et ses diverses options (EPS, Littérature, langues et cultures de l’Antiquité, Droit et grands enjeux du monde contemporain, management, sanitaire et social) permettent aux élèves de suivre des parcours riches et diversifiés. Le lycée a en outre la particularité de proposer la spécialité et l’option “cinéma-audiovisuel”.
			</p>

		<div class="other_lycee">
			<img class="border- " src="{{ asset('data/general/Vis_lycee_Guy-Chauvet.PNG')}}" alt="image_lycee">
			<ul>
			<li> ◾ 494 élèves (dont 32 étudiant·es et 9 apprenti·e·s)</li>
			<li> ◾ 55 enseignant·es</li>
			<li> ◾ 3 agents de laboratoire</li>
			<li> ◾ 3 assistantes d’éducation et 1 conseillère principale d’éducation</li>
			<li> ◾ 8 agents territoriaux</li>
			<li> ◾ 3 personnels de direction</li>
			<li> ◾ 3 personnels administratifs</li>
			</ul>
		</div>
	</div>

	<div class="MDL">
		<h1 class="display-full">La Maison des Lycéens</h1>

		<div>
			<div class="text_mdl">
				<p>
					Une Maison Des Lycéens (MDL) existe dans chaque lycée.
</p>
<p>C’est une association loi 1901 qui a son siège dans le lycée. Elle est gérée
par des élèves de 16 ans ou plus.
</p><p>
La MDL est un outil au service des lycéens. Elle aide au développement de
la vie culturelle au lycée et donne aux élèves l’occasion de s’engager dans des
projets, de faire l’apprentissage de leur autonomie et de prendre des responsabili-
tés importantes.
</p>
	<p>
		La Maison Des Lycéens est une association qui rassemble les élèves souhaitant s’engager dans des actions citoyennes et prendre des responsabilités au
		sein de l’établissement dans les domaines culturel, artistique, sportif et humanitaire.
	</p>
<p>
	Elle permet de participer au développement de la vie sociale, culturelle et
	sportive dans l’établissement.
</p>
		</div>

			<div class="img_mdl">
				<img class="border- "src="{{ asset('data/general/mdl.png')}}" alt="logo_MDL">
				<img class="border- " src="{{ asset('data/general/nosrc.png')}}" alt="image_MDL1">
			</div>
		</div>
	</div>
{% endblock %}
