{% extends 'base.html.twig' %}

{% block title %}podcasts{% endblock %}

{% block body %}
<h1>Podcast</h1>

{% for podcasts in LesPodcasts %}
    <audio>{{podcasts}}</audio>
{% endfor %}

<a  href="{{ path('app_audio') }}"> podcasts</a>
{% endblock %}
