
{% block nav %}
	<header>
		<!-- logo -->
		<a href="{{ path('app_home') }}"><img src="" alt="WebRadio" class="logo"/></a>
		<!-- navbar header -->
		<div
			class="headright">
			<!-- emission btn -->
			<div class="dropdown">
				<a href="{{ path('app_emission_index') }}">EMISSIONS</a>
				<div
					class="dropdown-content">
                    {% for ems in hemissions %}
                        <a href="{{ path('app_emission_show', { 'NOM': ems.NOM } ) }}">{{ ems.NOMLONG }}</a>
					{% endfor %}
				</div>
			</div>
			<!-- journal btn -->
			<a href="">JOURNAL</a>
			<!-- equipe btn -->
			<div class="dropdown">
				<a href="">L'EQUIPE</a>
				<div class="dropdown-content">
					<a href="">Le Lycée</a>
					<a href="">Les Membres</a>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
